/* * {
  margin: 0;
  padding: 0;
} */
.vehicle {
  display: inline-block;
  /* padding: 0 22px; */
  font-size: 25px;
  font-weight:700;
  line-height: 70px;
  color: rgba(7, 10, 11, 0.62);
  text-transform: uppercase;
  letter-spacing: 0.6px;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed; 
 
  z-index: 1000; 

}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  padding: 10px 15px;
}

.nav-link {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007bff;
}
ul li a {
  text-decoration: none;
  color: hsl(0, 71%, 4%);
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul li a:hover {
  background-color: #f0f0f0;
}
ul li span {
 
  /* margin: 67px 6px 0; */
  font-size: 25px;
  font-weight: 300;
  color: #a34747;
  letter-spacing: normal;
  font-family: 'Times New Roman', Times, serif;
}
.img-container {
  margin-right: 2px;
  width: 40px;
  height: 80px;
}
.registration{
  display: flex;
  justify-content: space-between;
  padding: 0 15px; 
}
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    /* text-align: center; */
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse.collapse.show {
    display: block !important;
  }

  .navbar-toggler {
    display: block;
  }
}




